# Importing The Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the Dataset

In [3]:
dataset=pd.read_csv('Car-details-v3.csv')

In [4]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [5]:
dataset.shape

(8128, 13)

In [7]:
dataset.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

# Catagorical Columns

In [9]:
dataset.select_dtypes(include = 'object').columns

Index(['name', 'fuel', 'seller_type', 'transmission', 'owner', 'mileage',
       'engine', 'max_power', 'torque'],
      dtype='object')

# Numarical Columns

In [10]:
dataset.select_dtypes(include = ['float64','int64']).columns

Index(['year', 'selling_price', 'km_driven', 'seats'], dtype='object')

In [11]:
dataset.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

# Checking the Missing Values

In [12]:
dataset.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

# Droping The Names

In [16]:
dataset = dataset.drop(columns = 'name')

In [17]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

# Add Columns

In [18]:
dataset['current year']=2022

In [19]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,current year
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,2022
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,2022
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,2022
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,2022
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,2022

In [20]:
dataset = dataset.drop(columns = ['current year','year'])

In [21]:
dataset.head()

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

# Encoding The Categorical Variables

In [22]:
dataset.select_dtypes(include = 'object').columns

Index(['fuel', 'seller_type', 'transmission', 'owner', 'mileage', 'engine',
       'max_power', 'torque'],
      dtype='object')

# One Host Encoding

In [23]:
dataset = pd.get_dummies(data = dataset,drop_first = True)

In [24]:
dataset.head()

,selling_price,km_driven,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,...,torque_96.1Nm@ 3000rpm,torque_96Nm@ 2500rpm,torque_96Nm@ 3000rpm,torque_96Nm@ 3500rpm,torque_98Nm@ 1600-3000rpm,torque_99.04Nm@ 4500rpm,torque_99.07Nm@ 4500rpm,torque_99.1Nm@ 4500rpm,torque_99.8Nm@ 2700rpm,torque_99Nm@ 4500rpm
0,450000,145500,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,370000,120000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,158000,140000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,225000,127000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,130000,120000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
dataset.shape

(8128, 1286)

# Spilting The Datasets

In [26]:
dataset.head()

,selling_price,km_driven,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,...,torque_96.1Nm@ 3000rpm,torque_96Nm@ 2500rpm,torque_96Nm@ 3000rpm,torque_96Nm@ 3500rpm,torque_98Nm@ 1600-3000rpm,torque_99.04Nm@ 4500rpm,torque_99.07Nm@ 4500rpm,torque_99.1Nm@ 4500rpm,torque_99.8Nm@ 2700rpm,torque_99Nm@ 4500rpm
0,450000,145500,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,370000,120000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,158000,140000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,225000,127000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,130000,120000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Matrix of Features

In [31]:
x = dataset.drop (columns = 'selling_price')

# Target Variable

In [32]:
y = dataset['selling_price']

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=0)

In [39]:
x_train.shape

(6502, 1285)

In [40]:
y_test.shape

(1626,)

In [56]:
from sklearn.ensemble import RandomForestRegressor

In [57]:
Regrssor = RandomForestRegressor()

# Hyperparameter Tuning

In [72]:
from sklearn.model_selection import RandomizedSearchCV

In [73]:
parameters = {
    
    'n_estimators':[100,200,300,400,500,600,700,800,900,1000],
    'criterion':['mse','mae'],
    'max_depth':[10,20,30,40,50],
    'min_samples_leaf':[1,2,5,10],
    'max_features':['auto','sqrt','log2']
               
               }

In [74]:
parameters

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
 'criterion': ['mse', 'mae'],
 'max_depth': [10, 20, 30, 40, 50],
 'min_samples_leaf': [1, 2, 5, 10],
 'max_features': ['auto', 'sqrt', 'log2']}

In [85]:
random_cv = RandomizedSearchCV(estimator=regressor,param_distributions=parameters,n_iter=10,scoring='neg_mean_absolute_error',cv=5,verbose=2,n_jobs=-1)

In [86]:
random_cv.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

c:\Users\iat\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
50 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 327, in fit
    X, y = self._validate_data(
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 800, in check_array
    _assert_all_finite(array, allow_nan=force_all_finite == "allow-nan")
  File "c:\Users\iat\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 114, in _assert_all_finite
    raise ValueError(
ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\iat\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [94]:
random_cv.best_estimator_

RandomForestRegressor(criterion='mae', max_depth=30, max_features='log2',
                      n_estimators=500)

In [95]:
random_cv.best_params_

{'n_estimators': 500,
 'min_samples_leaf': 1,
 'max_features': 'log2',
 'max_depth': 30,
 'criterion': 'mae'}

# Predicting Single observation

In [96]:
dataset.head()

,selling_price,km_driven,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,...,torque_96.1Nm@ 3000rpm,torque_96Nm@ 2500rpm,torque_96Nm@ 3000rpm,torque_96Nm@ 3500rpm,torque_98Nm@ 1600-3000rpm,torque_99.04Nm@ 4500rpm,torque_99.07Nm@ 4500rpm,torque_99.1Nm@ 4500rpm,torque_99.8Nm@ 2700rpm,torque_99Nm@ 4500rpm
0,450000,145500,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,370000,120000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,158000,140000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,225000,127000,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,130000,120000,5.0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
single_obs = [[8.50,3500,0,5,1,0,0,1]]

In [ ]:
regressor.predict(single_obs)